.mini-item {
  width: 140px;
  height: 140px;
  padding: 5px;
}

.big-item {
  width: 400px;
  height: 400px;
  padding: 5px;
}

.container-mini {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}