.navbar {
  background-color: #141414;
}

.link-navbar {
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  padding-left: 2%;
  text-decoration: none;
  color: aqua;
}

.link-navbar:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
