.navbar {
  background-color: #141414;
}

.link-navbar {
  -webkit-transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  padding-left: 2%;
  text-decoration: none;
  color: aqua;
}

.link-navbar:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media only screen and (max-width: 596px) {
  .link-navbar {
    padding: 0 8px;
  }

  .box-navbar {
    padding: 20px !important;
  }
}
